h1 {
  color: #ff0000;
  text-align: center;  
}

.all {
  background-color:rgb(156, 155, 60);
}

.list {
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
  }
  

.me {
  width: 1000px;
  border: 10px solid red;
  padding: 50px;
  margin: auto;
  align-items: center;
  
}

.below {
  text-align: center;
  margin-right: 80%;
  margin-left: 10%;

}