h1 {
  color: #ff0000;
  text-align: center;  
}

.all{
  background-color:chartreuse;
}

.list{
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
  }
  
}
.me {
  background-color:rgb(255, 251, 0);
}

.below{
  text-align: center;
  margin-right: 80%;
  margin-left: 10%;
}