h1 {
  color: #ff0000;
  text-align: center;
    
}

.all {
  background-color:rgb(156, 155, 60);
}

.list {
  float: left;
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
  }
  

.me {
  float: left;
  width: 1000px;
  border: 10px solid red;
  padding: 50px;
  margin: auto;
  align-items: center;
  
}

.below {
  text-align: center;
  font-size: large;
  margin-right: 80%;
  margin-left: 10%;

}

.Columbus-Ohio {
   text-align:center;
}